body {
  font-family: Arial, sans-serif;
  background-color: #e9f3ff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00007c;
  padding: 1rem;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

h1 {
  color: #00007c;
}

.error {
  color: red;
}
