.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden; /* no scrolling */
}

.fullscreen-overlay.show {
  display: flex;
}

.fullscreen-image-container {
  position: relative;
  display: inline-block;
}

.fullscreen-image {
  max-width: calc(100vw - 30px);
  max-height: calc(100vh - 30px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: block;
}

/* exit button styling */
.exit-fullscreen-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25%;
  padding: 10px;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.exit-fullscreen-icon img {
  width: 32px;
  height: 32px;
  display: block;

}

.fullscreen-image-container:hover .exit-fullscreen-icon {
  display: block;
}
