.image-wrapper {
  width: 250px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a8dcff;
  display: inline-block;
  vertical-align: top;
}

.image-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.image-container {
  margin-bottom: 10px;
}

.image-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.image-actions a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.image-actions img {
  width: 100%;
  height: 100%;
}

.edit-icon img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.delete-icon {
  width: 32px;
  height: 32px;
}
.delete-icon img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  horiz-align: center;
}
.favourite-icon {
  width: 32px;
  height: 32px;
}

.favourite-icon img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  horiz-align: center;
}

.image-name-input {
  display: none;
}

.image-title.editing .image-name {
  display: none;
}

.image-title.editing .image-name-input {
  display: inline-block;
}
